@import "constants.module";

.modal {
  max-width: 475px;
  min-height: 275px;
  background-color: white;
  padding: 1rem 1rem;
  margin: 2rem 2rem 2rem 90px;
  z-index: 9001;
  flex: 1 0 auto;
  border-radius: 3px;
  box-shadow: 0 1px 3px $light-grey;
  outline: none;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (max-width: $phone-break) {
    flex: 0 1 auto;
    padding: 1rem 3rem;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 9000;
  background-color: $black-heavy-transparent;

  display: flex;
  justify-content: center;
  align-items: center;
}
